%displayFlexColumnCenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  %displayFlexRowCenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }