.navigation-container {
  width: 100%;
  height: auto;

  .main-navigation {
    .menu {
      @extend %displayFlexRowCenter;
      justify-content: space-evenly;
      flex-wrap: wrap;

      margin: 0;
      padding: 1%;

      li {
        margin: 0.5%;
        list-style: none;

        a {
          color: $black;
          text-decoration: none;
          text-transform: uppercase;

          @include transition(color 0.4s);

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
