.container-evenements {
  width: 100%;
  height: auto;

  border: 2px solid $black;

  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-gap: 20px;

  .articles-evenements {
    border: 2px solid $blue;
    width: 100%;

    .content-post {
      @extend %displayFlexColumnCenter;

      .title-article {
        margin-bottom: 0;
        a {
          color: $blue;
          text-transform: uppercase;

          @include transition(color 0.4s);

          &:hover {
            color: lighten($blue, 20%);
          }
        }
      }

      .post-date {
        margin: 2% 0;
      }

      p {
        margin-top: 0;
      }
    }
  }
}