.container-evenements {
  width: 100%;
  height: auto;

  border: 2px solid $black;

  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-gap: 20px;

  .articles-evenements {
    border: 2px solid $blue;
    width: 100%;

    .content-post {
      @extend %displayFlexColumnCenter;

      .tableau-entete-1 {
        width: 100%; 
        background-color: darken($green, 15%);
        color: lighten($white, 15%);
        text-align: center;
      }

      .tableau-entete-2 {
        width: 100%; 
        background-color: darken($green, 5%);
        color: lighten($white, 5%);
        text-align: center;
      }

      .tableau-entete-3 {
        width: 100%; 
        background-color: lighten($green, 5%);
        color: darken($black, 5%);
        text-align: center;
      }

      .tableau-entete-4 {
        width: 100%; 
        background-color: lighten($green, 15%);
        color: darken($black, 15%);
        text-align: center;
      }

      .title-article {
        margin-bottom: 0;
        a {
          color: $blue;
          text-transform: uppercase;

          @include transition(color 0.4s);

          &:hover {
            color: lighten($blue, 20%);
          }
        }
      }

      .post-date {
        margin: 2% 0;
      }

      p {
        margin-top: 0;
      }
    }
  }
}